.entry {
    display: block;
    padding: 14px 20px 14px 55px;
    position: relative;

    mat-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        margin-top: -12px;
    }

    .big-label {
        display: block;
        margin: 10px 0px;
        font-weight: 300;
        font-size: 1.5em;
    }
}
