<ng-container [ngSwitch]="entry.entryType">

    <ng-container *ngSwitchCase="'category'">
        <div class="entry">
            <span class="big-label">{{ entry.label }}</span>
            <a mat-raised-button [routerLink]="entry.key">
                Browse
            </a>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'series'">
        <div class="entry">
            <span class="big-label">{{ entry.label }}</span>
            <a mat-raised-button [routerLink]="entry.key">
                Browse
            </a>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <a [routerLink]="entry.key" class="entry">
            {{ entry.label }}
        </a>
    </ng-container>

</ng-container>

<mat-divider></mat-divider>
